  <div class="container">  
    <%= render 'users/info', user: current_user %>
    　<div class="row">
        <%= render 'users/sidebar', user: current_user %>
        <div class="col-xs-7">
         	<h2>投稿一覧</h2>
         	    <table class="table">
         	    	<thead>
                     <tr>
                       <th>画像</th>
                       <th>名前</th>
                       <th>タイトル</th>
                       <th>コメント</th>
                       <th>タグ</th>
                     </tr>
           	    	</thead>
         	    	<tbody>
         	    	  <% @baseballs.each do |baseball| %>
         	    	    <tr>
         	    	      <td>
         	    	      <%= attachment_image_tag baseball, :baseball_image, :fill,80,80, format:'jpeg' %>
         	    	      </td>
         	    	      <td>
         	    	      <%= link_to baseball.user.name, user_path(baseball.user_id) %>
         	    	      </td>
         	    	      <td>
         	    	      <%= link_to baseball.title, baseball_path(baseball.id) %>
         	    	      </td>
                          <td><i class="fa fa-commenting-o fa-2x" aria-hidden="true" style="color: orange;"></i>
                          <%= baseball.baseball_comments.count %>
                              <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" style="color: blue;"></i>
                          <%= baseball.favorites.count %>
                          </td>
                          <td><%= render 'baseballs/tag_list', tag_list: baseball.tag_list %>
                          </td>
         	    	    </tr>
         	    	    <% end %>
         	    	 </tbody>
         	    </table>
              <%= paginate @baseballs %>
        </div>
        <div class="col-xs-3">
        <h2>タグ一覧</h2>
        <% @tags.each do |tag| %>
        <span class="button btn btn-success">
         <%= link_to tag, baseballs_path(tag_name: tag.name),:style=>"color:white;" %>
        </span>
        <% end %>
        <h2>いいねランキング</h2>
        <table class="table">
          <thead>
           <tr>
            <th></th>
            <th>名前</th>
            <th>タイトル</th>
           </tr>
          </thead>
          <tbody>
            <% @all_ranks.each.with_index(1) do |baseball,i| %>
           <tr>
            <td>
              第<%= i %>位
              <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" style="color: blue;"></i>
              <%= baseball.favorites.count %>
            </td>
            <td>
              <%= link_to baseball.user.name, user_path(baseball.user_id) %>
            </td>
            <td>
            <%= link_to baseball.title, baseball_path(baseball.id) %>
            </td>
           </tr>
            <% end %>
        </div>
      </div>
  </div>