  <div class="container">  
    <div class="row"> 
      <%= render 'users/info', user: @user %>
         <div class="col-xs-4">
              <%= link_to"投稿",new_baseball_path %>
         </div>

         <div class="col-xs-8">
          <h2 class="comment">投稿詳細</h2>
            <p class="comment">コメント数：<%= @baseball.baseball_comments.count %>件</p>
             <div class="comment">   
               <div id="favorites_buttons_<%= @baseball.id %>">
                <%= render partial: 'favorites/favorite', locals: { baseball: @baseball} %>
               </div>
             </div>
            <table class="table">
              <thead>
              </thead>
              <tbody>
                <tr>
                   <td><%= attachment_image_tag @baseball, :baseball_image, :fill,100,100, format:'jpeg' %></td>
                   <td><%= @baseball.title %></td>
                   <td><%= @baseball.body %></td>
                   <% if @user.id == current_user.id %>
                   <td><%= link_to '編集', edit_baseball_path(@baseball), class: 'btn btn-success' %></td>
                   <td><%= link_to '削除', @baseball, method: :delete, data: {confirm: '本当に消しますか?' },class: 'btn btn-danger' %></td>
                   <% end %>
                </tr>
              </tbody>
            </table>
            <% if user_signed_in? %>
               <%= render partial:'baseball_comments/form', locals: {baseball_comment: @baseball_comment, baseball: @baseball} %>
            <% end %>
             <div id="baseball_comments_area">
　　            <%= render partial: 'baseballs/comment_index',locals: { baseball: @baseball} %>
             </div>
          </div>
    </div>
  </div>                  


