  <div class="container">  
    <div class="row"> 
      <%= render 'users/info', user: @user %>
         <div class="col-xs-4">
              <%= link_to"投稿",new_baseball_path %>
         </div>

         <div class="col-xs-8">
          <h2 class="comment">投稿詳細</h2>
            <p class="comment">コメント数：<%= @baseball.baseball_comments.count %>件</p>
          <% if user_signed_in? %>
          <% if @baseball.favorited_by?(current_user) %>
              <%= link_to baseball_favorites_path(@baseball), method: :delete do %>
                <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
              <%= @baseball.favorites.count %> いいね
              <% end %>
              <% else %>
              <%= link_to baseball_favorites_path(@baseball), method: :post do %>
              <i class="glyphicon glyphicon-heart-empty" aria-hidden="true" style="color: gray;"></i>
              <%= @baseball.favorites.count %> いいね
              <% end %>
          <% end %>
          <% end %>
            <table class="table">
              <thead>
              </thead>
              <tbody>
                <tr>
                   <td><%= attachment_image_tag @baseball, :baseball_image, :fill,100,100, format:'jpeg' %></td>
                   <td><%= @baseball.title %></td>
                   <td><%= @baseball.body %></td>
                   <% if @user.id == current_user.id %>
                   <td><%= link_to '編集', edit_baseball_path(@baseball), class: 'btn btn-success' %></td>
                   <td><%= link_to '削除', @baseball, method: :delete, data: {confirm: '本当に消しますか?' },class: 'btn btn-danger' %></td>
                   <% end %>
                </tr>
              </tbody>
            </table>
            <%= form_for [@baseball, @baseball_comment]  do |f| %>
              <%= render 'layouts/error_messages', model: f.object %>
              <%= f.text_area :comment,rows:'5', class: "form-control" %>
              <%= f.submit "送信", class: "btn btn-default pull-right" %>
              <% end %>
              <table class="table">
    　　　　　　<thead>
              <tr>
              </tr>  
              </thead>
              <% @baseball.baseball_comments.each do |baseball_comment| %>
                <tbody>
                  <tr>
                    <td>
                        <%= attachment_image_tag baseball_comment.user,:profile_image, :fill, 60, 60, format: 'jpeg',fallback: "no_image.jpg",class: "img-circle" %>
                    </td>
                    <td><%= link_to baseball_comment.user.name, user_path(@user) %></td>
                    <td><%= baseball_comment.user.like_team %></td>
                    <td><%= baseball_comment.comment %></td>
                    <td><%= date_format(baseball_comment.created_at) %></td>
                    <% if baseball_comment.user == current_user %>
                   <td><%= link_to "削除", baseball_baseball_comment_path(baseball_comment), method: :delete,data: {confirm: '本当に消しますか?' }, class: "btn btn-danger pull-right" %></td>
                   <% end %>
                  </tr>
                </tbody>
              <% end %>
              </table>
          </div>
    </div>
  </div>                  


