    <div class="row">
        <div class="col-xs-4">
  	        <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format:'jpeg', fallback: "no_image.jpg",class: "img-circle" %>
  	    </div>
  	    <div class="col-xs-5">   
             <h3><%= user.name %></h3>
             <p><%= user.introduction %></p>
             <p><%= user.like_team %></p>
        </div>
        <div class="col-xs-3">
             <table class="table">
               <thead>
               </thead>
               <tbody>
                <tr>
                  <% if user.id == current_user.id %>
                  <td style ="border-style: none;"><%= link_to"プロフィールを編集",edit_user_path(user), class: 'btn btn-info' %></td>
                    <% else %>
                  <td style ="border-style: none;">  
                    <%= render 'relationships/follow_button', user: @user %>
                  </td>
                  <% end %>
                </tr>
                <tr>
                　<td>投稿数</td>  
                  <td><%= user.baseballs.count %></td>
                </tr>
                <tr>
                  <td>フォロー数</td>
                  <td><%= link_to user.followings.count,follows_user_path(user) %></td>
                <tr>
                  <td>フォロワー数</td>
                  <td><%= link_to user.followers.count,followers_user_path(user) %></td>
                </tr>    
              </tbody>
             </table>     
        </div>
    </div>