<div class="col-xs-2">
 <h2>メニュー</h2>
 <table class="table">
   <thead>
   </thead>
   <tbody>
   	<% if @user.id == current_user.id %>
    <tr>
      <td><%= link_to new_baseball_path, method: :get do %>
        <i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>投稿
          <% end %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td><%= link_to follows_user_path(user), method: :get do %>
        <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>フォロー
          <% end %>
      </td>
    </tr>
    <tr>  
      <td><%= link_to followers_user_path(user), method: :get do %>
        <i class="fa fa-users fa-2x" aria-hidden="true"></i>フォロワー
          <% end %>
      </td>
    </tr>
    <tr>  
      <td><%= link_to favorites_user_path(user), method: :get do %>
        <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>いいね一覧
          <% end %>
      </td>
    </tr>
    <% if @user.id == current_user.id %>
    <tr>
      <td><%= link_to rooms_path,method: :get do %>
        <i class="fa fa-comments fa-2x" aria-hidden="true"></i>チャット一覧
        <% end %>
      </td>
    </tr>
    <% end %>    
   </tbody>
 </table>
<%= render 'layouts/footer' %>
</div>        