<div class="new_baseball">
　　<h2>プロフィール編集</h2>
　　　　<%= form_for(@user) do |f| %>
　　　　<div class="new_baseball1">
	   <%= render 'layouts/error_messages', model: f.object %>
           <%= attachment_image_tag @user, :profile_image, class: "img-circe", fallback: "no_image.jpg", size:"100x100" %>
	       <%= f.attachment_field :profile_image, placeholder: "画像" %>
　  	       <%= f.label :name, "名前" %>
	       <%= f.text_field :name,class:"form-control" %>
	       <%= f.label :introduction, "自己紹介" %>
	       <%= f.text_area :introduction,class:"form-control" %>
	       <%= f.label :like_team, "好きな球団" %>
           <%= f.select :like_team,User.like_teams.keys,class:"form-control"%>
	       <%= f.submit "更新する", class: "btn btn-primary" %>
       </div>
       <% end %>
</div>       