<div class="container">    
    <%= render 'users/info', user: @user %>
      <div class="row">
        <%= render 'users/sidebar', user: @user %>
         <div class="col-xs-8">
         	<h2>フォロー一覧</h2>
         	    <table class="table">
         	    	<thead>
                     <tr>   
                      <th>画像</th>
                      <th>名前</th>
                      <th>好きな球団</th>
                      <th>紹介文</th>
                     </tr> 
         	    	</thead>
         	    	<tbody>
         	    	  <% @user.followings.each do |user| %>
         	    	    <tr>
         	    	      <td>
         	    	      <%= attachment_image_tag user, :profile_image, :fill,60,60, format:'jpeg',fallback: "no_image.jpg",class: "img-circle" %>
         	    	      </td>
         	    	      <td>
         	    	      <%= link_to user.name, user_path(user) %>
         	    	      </td>
                          <td>
                          <%= user.like_team %>  
         	    	      <td>
         	    	      <%= user.introduction %>
         	    	      </td>
         	    	    </tr>
         	    	    <% end %>
         	    	 </tbody>
         	    </table>
        </div>
    </div>
</div>             	    	       