<div class="container"> 
    <%= render 'users/info', user: current_user %>
      <div class="row">
        <div class="col-xs-3">
         <h2>メニュー</h2>
           <table class="table">
            <thead>
            </thead>
            <tbody>
             <tr>
               <td><%= link_to"投稿",new_baseball_path(current_user) %></td>
             </tr>
             <tr>
               <td><%= link_to"フォロー",follows_user_path(current_user) %></td>
             </tr>
             <tr>  
               <td><%= link_to"フォロワー",followers_user_path(current_user) %></td>
             </tr>
             <tr>  
              <td><%= link_to"いいね",favorites_user_path(current_user),class: "glyphicon glyphicon-thumbs-up" %></td>
             </tr>
            </tbody>
          </table>
        </div>   
        <div class="col-xs-8">
         	<h2>ユーザー一覧</h2>
         	    <table class="table">
         	    	<thead>
                     <tr>   
                      <th>画像</th>
                      <th>名前</th>
                      <th>好きな球団</th>
                      <th>紹介文</th>
                     </tr> 
         	    	</thead>
         	    	<tbody>
         	    	  <% @users.each do |user| %>
         	    	    <tr>
         	    	      <td>
         	    	      <%= attachment_image_tag user, :profile_image, :fill,80,80, format:'jpeg',fallback: "no_image.jpg",class: "img-circle" %>
         	    	      </td>
         	    	      <td>
         	    	      <%= link_to user.name, user_path(user) %>
         	    	      </td>
                          <td>
                          <%= user.like_team %>
                          </td>
         	    	      <td>
         	    	      <%= user.introduction %>
         	    	      </td>
         	    	    </tr>
         	    	    <% end %>
         	    	 </tbody>
                 <%= paginate @users %>    
         	    </table>
        </div>
      </div>
</div>             	    	       