<div class="container"> 
  <%= render 'users/info', user: current_user %>
    <div class="row">
    <div class="col-xs-3">
 <h2>メニュー</h2>
 <table class="table">
   <thead>
   </thead>
   <tbody>
    <tr>
      <td><%= link_to"投稿",new_baseball_path(current_user) %></td>
    </tr>
    <tr>
      <td><%= link_to"フォロー",follows_user_path(current_user) %></td>
    </tr>
    <tr>  
      <td><%= link_to"フォロワー",followers_user_path(current_user) %></td>
    </tr>
    <tr>  
      <td><%= link_to"いいね",baseball_favorites_path(current_user),class: "glyphicon glyphicon-thumbs-up" %></td>
    </tr>
   </tbody>
 </table>
</div>             
    <% if @user_or_baseball == "1" %>
    <div class="col-xs-8">
         	<h2>検索結果</h2>
         　　　<p>全<%= @users.count %>件</p>
         	    <table class="table">
         	    	<thead>
         	    	</thead>
         	    	<tbody>
         	    	  <% @users.each do |user| %>
         	    	    <tr>
         	    	      <td>
         	    	      <%= attachment_image_tag user, :profile_image, :fill,80,80, format:'jpeg',fallback: "no_image.jpg",class: "img-circle" %>
         	    	      </td>
         	    	      <td>
         	    	      <%= link_to user.name, user_path(user) %>
         	    	      </td>
         	    	      <td>
         	    	      <%= user.introduction %>
         	    	      </td>
         	    	    </tr>
         	    	    <% end %>
         	    	 </tbody>
         	    </table>
    </div>
 
<% else @user_or_baseball == "2" %>
  <div class="col-xs-8">
    <h2 class="comment">検索結果</h2>
     <p class="comment">全<%= @baseballs.count %>件</p>
        <table class="table">
         	 <thead>
         	 </thead>
         	 <tbody>
         	    <% @baseballs.each do |baseball| %>
         	    	<tr>
         	    	      <td>
         	    	      <%= attachment_image_tag baseball, :baseball_image, :fill,80,80, format:'jpeg' %>
         	    	      </td>
         	    	      <td>
         	    	      <%= baseball.user.name %>
         	    	      </td>
         	    	      <td>
         	    	      <%= link_to baseball.title, baseball_path(baseball.id) %>
         	    	      </td>
                          <td>コメント数：
                          <%= baseball.baseball_comments.count %>
                          </td>
                          <td><%= render 'baseballs/tag_list', tag_list: baseball.tag_list %>
                          </td>
         	        </tr>
         	    <% end %>
         	 </tbody>
        </table>
   </div>      
<% end %>
   </div>
</div>       

