   <div class="container">
   <div class="notifications">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: key) %>
    <% end %>
   </div>   
   <div class="common_view">   
    <div class="info_view"> 
    <div class="row">
        <div class="col-xs-4">
            <%= attachment_image_tag @user, :profile_image, :fill, 120, 120, format:'jpeg', fallback: "no_image.jpg",class: "img-circle" %>
        </div>
        <div class="col-xs-5">   
             <h3><%= @user.name %></h3>
             <p><%= @user.introduction %></p>
             <p><%= @user.like_team %></p>
        </div>
        <div class="col-xs-3">
             <table class="table">
               <thead>
               </thead>
               <tbody>
                <tr>
                  <% if @user.id == current_user.id %>
                  <td style ="border-style: none;"><%= link_to edit_user_path(@user), class: 'btn btn-info', method: :get do %>
                    <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>プロフィール編集
                  <% end %>  
                  </td>
                </tr>  
                    <% else %>
                <tr>
                    <td style ="border-style: none;">  
                    <%= render 'relationships/follow_button', user: @user %>
                  </td>
                </tr>
                <tr>
                  <% if @isRoom == true %>
                    <td><%= link_to room_path(@roomId), :class => 'btn btn-info btn-block', method: :get do %>
                        <i class="fa fa-commenting-o fa-2x" aria-hidden="true"></i>チャットする
                        <% end %>
                    </td>
                </tr>    
                  <% else %>
                <tr>  
                    <td><%= form_for @room do |f| %>
                     <%= fields_for @entry do |e| %>
                      <%= e.hidden_field :user_id, :value=> @user.id %>
                     <% end %>
                     <%= button_tag type: 'submit', class: 'btn btn-info btn-block' do %>
                     <i class="fa fa-comment-o fa-2x" aria-hidden="true"></i>チャットを始める
                    <% end %></td>
                  <% end %>
                  <% end %>
                  <% end %>
                </tr>
                <tr>
                  <td>投稿数</td>  
                  <td><%= @user.baseballs.count %></td>
                </tr>
                <tr>
                  <td>フォロー数</td>
                  <td><%= link_to @user.followings.count,follows_user_path(@user) %></td>
                </tr>  
                <tr>
                  <td>フォロワー数</td>
                  <td><%= link_to @user.followers.count,followers_user_path(@user) %></td>
                </tr>    
              </tbody>
             </table>     
        </div>
       </div> 
    </div>
     <div class="row">
     <%= render 'users/sidebar', user: @user %>
        <div class="col-xs-8">
         	<h2><%= @user.name %>さんの投稿一覧</h2>
         	    <table class="table">
         	    	<thead>
                    <tr>
                       <th>画像</th>
                       <th>名前</th>
                       <th>タイトル</th>
                       <th>コメント</th>
                       <th>タグ</th>
                     </tr> 
         	    	</thead>
         	    	<tbody>
         	    	  <% @baseballs.each do |baseball| %>
         	    	    <tr>
         	    	      <td>
         	    	      <%= attachment_image_tag baseball, :baseball_image, :fill,60,60, format:'jpeg' %>
         	    	      </td>
         	    	      <td>
         	    	      <%= baseball.user.name %>
         	    	      </td>
         	    	      <td>
         	    	      <%= link_to baseball.title, baseball_path(baseball.id) %>
         	    	      </td>
                          <td><i class="fa fa-commenting-o fa-2x" aria-hidden="true" style="color: orange;"></i>
                          <%= baseball.baseball_comments.count %>
                              <i class="fa fa-thumbs-up fa-2x" aria-hidden="true" style="color: blue;"></i>
                          <%= baseball.favorites.count %>
                          </td>
                          <td><%= render 'baseballs/tag_list', tag_list: baseball.tag_list %>
                          </td>
         	    	    </tr>
         	    	    <% end %>
         	    	 </tbody>  
         	    </table>
               <%= paginate @baseballs %>
        </div>
     </div>
   </div>     
   </div>             	    	       







