   <div class="container">   
    <div class="row">
        <%= render 'users/info', user: @user %>
         <div class="col-xs-4">
              <%= link_to"投稿",new_baseball_path %>
         </div>

         <div class="col-xs-8">
         	<h2><%= @user.name %>さんの投稿一覧</h2>
         	    <table class="table">
         	    	<thead>
         	    	</thead>
         	    	<tbody>
         	    	  <% @baseballs.each do |baseball| %>
         	    	    <tr>
         	    	      <td>
         	    	      <%= attachment_image_tag baseball, :baseball_image, :fill,60,60, format:'jpeg' %>
         	    	      </td>
         	    	      <td>
         	    	      <%= baseball.user.name %>
         	    	      </td>
         	    	      <td>
         	    	      <%= link_to baseball.title, baseball_path(baseball.id) %>
         	    	      </td>
         	    	    </tr>
         	    	    <% end %>
         	    	 </tbody>
         	    </table>
         </div>
    </div> 
   </div>             	    	       







