<div class="container"> 
<%= render 'users/info', user: current_user %>
  <div class="row">
        <div class="col-xs-3">
         <h2>メニュー</h2>
           <table class="table">
            <thead>
            </thead>
            <tbody>
             <tr>
              <td><%= link_to new_baseball_path, method: :get do %>
               <i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>投稿
                  <% end %>
              </td>
             </tr>
             <tr>
              <td><%= link_to follows_user_path(current_user), method: :get do %>
               <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>フォロー
                  <% end %>
              </td>
             </tr>
             <tr>  
              <td><%= link_to followers_user_path(current_user), method: :get do %>
               <i class="fa fa-users fa-2x" aria-hidden="true"></i>フォロワー
                  <% end %>
              </td>
             </tr>
             <tr>  
              <td><%= link_to favorites_user_path(current_user), method: :get do %>
               <i class="fa fa-thumbs-up fa-2x" aria-hidden="true"></i>いいね一覧
                  <% end %>
              </td>
             </tr>
             <tr>
              <td><%= link_to rooms_path,method: :get do %>
               <i class="fa fa-comments fa-2x" aria-hidden="true"></i>チャット一覧
                  <% end %>
              </td>
             </tr>
            </tbody>
          </table>
          <footer class="footer">
            <div class='content'>
             <p class="text-muted">CopyRight Baseballikes.inc</p>
            </div>
          </footer>
        </div>   
      <div class="col-xs-7">
        <h2>チャット一覧</h2>
          <table class="table">
          	<thead>
             <tr>   
                <th>画像</th>
                <th>名前</th>
                <th>好きな球団</th>
                <th>紹介文</th>
             </tr> 
         	</thead>
         	<tbody>		
              <% @anotherEntries.each do |e| %>
              <tr>
              	<td><%= attachment_image_tag e.user, :profile_image, :fill,80,80, format:'jpeg',fallback: "no_image.jpg",class: "img-circle" %></td>
                <td><%= link_to e.user.name %></td>
                <td><%= e.user.like_team %></td>
                <td><%= e.user.introduction %></td>
                <td><%= link_to "チャットする",room_path(e.room.id) %></td>   
              </tr>      
             <% end %>
      </div>
  </div>
</div>        